body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  background: #d6e1f0;
  color: rgb(241, 241, 241);
}
.app {
  margin: 0.7em 0;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  background: rgb(92, 123, 246);
  border-radius: 14px;
  padding: 20px 40px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.307);
  cursor: pointer;
  transition: 0.2s;
}
.app:hover {
  transform: scale(1.01);
}
#map {
  margin-top: 1.2em;
  position: relative;
  height: 500px;
  width: 500px;
}